@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$background: #fff;
$text-black: #1c2a39;
$text-gray: #5c6a79;
$primary: #4c3db2;
$disabled: #eeedf5;
$disabled-text: #5c6a79;
$star-color: #f2c94c;
$star-background: #eeedf5
