@import '../Sidebar/Sidebar.module';

.category__navbar {
  width: 100%;
  padding: 16px;
  background: #efeef6;
}

@media (min-width: 992px) {
  .category__navbar {
    display: none;
  }
}

.category__navbar__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
